body {padding: 50px;display: flex; align-items: center; justify-content: center;}
a:hover {text-decoration: none;}
.bc {background: url(../images/register.jpg) no-repeat center; width: 500px; height: 350px}
.sign {text-align: center; padding: 25px 10px; font-size: 28px; color: #FFFFFF;}

.i {display: flex; align-items: center; justify-content: center; padding: 18px 0;}
.dsbtn {display: flex; align-items: center; justify-content: center;}
.i input {display: block; width: 70%; height: 50px; background-color: #FFFFFF; opacity: 0.5;border-radius: 50px;border: none; outline: none; text-align: center;}
#sbtn {display: block; width: 30%; height: 40px; border-radius: 50px;outline: none;}
.login { text-align: center;}